<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="RegisterForm" (ngSubmit)="RegisterUser()">
    <ion-card class='vertical-center'>
      <ion-card-content>
        <ion-item>
          <ion-label position='floating'>Name:</ion-label>
          <ion-input formControlName="firstName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Surname:</ion-label>
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Email:</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Cell Phone Number:</ion-label>
          <ion-input formControlName="cellNumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Display Name:</ion-label>
          <ion-input formControlName="displayName"></ion-input>
        </ion-item>

        <p style="color: red;">{{ ConfirmationError }}</p>
        <ion-item>
          <ion-label position='floating'>Password:</ion-label>
          <ion-input formControlName="password" type='password' (keyup)="
        CheckPassword(RegisterForm.value.password, ConfirmPassword)
      "></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Confirm Password:</ion-label>
          <ion-input type='password' (keyup)="
        CheckPassword(RegisterForm.value.password, ConfirmPassword)
      " [(ngModel)]="ConfirmPassword" [ngModelOptions]="{ standalone: true }"></ion-input>
        </ion-item>

      </ion-card-content>
      <div class='CenterObject'>
        <ion-button color='primary' type="submit" [disabled]="
        !RegisterForm.valid ||
        !CheckPassword(RegisterForm.value.password, ConfirmPassword)
      ">
          Sign Up</ion-button>


        <br />

        <a [routerLink]="['/login']" class="forgot">Already have an Account? Login Here!</a>
      </div>
    </ion-card>
  </form>

</ion-content>
