<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="ShowTracker">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Show Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ActivityTracker">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>Activity Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
