<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="LoginForm" (ngSubmit)="LogIn()">

    <ion-card class='vertical-center'>
      <ion-card-content>
        <ion-item>
          <ion-label position='floating'>Email:</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Password:</ion-label>
          <ion-input formControlName="password"></ion-input>
        </ion-item>
      </ion-card-content>
      <div class='CenterObject'>
        <ion-button color='primary' type="submit" [disabled]="
        !LoginForm.valid">
          Log In</ion-button>
      </div>

      <br />

        <a [routerLink]="['/register']" class="forgot">Don't have an account? Register Here!</a>

      <br>
    </ion-card>

  </form>

</ion-content> -->
